* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.25px solid red; */
}

/* global styles*/

/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    line-height: 60px;
    color: #0c3e5eff;
    margin-bottom: 1rem;
}

.container {
    padding: 2rem 4rem;
}

.standard {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.2rem;
    color:#155b87ff;
    letter-spacing: .1rem; 
}

.normal {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #0c3e5eff;
}

.light {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 44px;
    font-size: 2rem;
    color: #607d8b;
    
}

/* Hero section plus navbar*/

#hero {
    display: flex;
    flex-wrap: nowrap;
}

.hero__section {
    height: 100vh;
    width: 50vw;
}

.hero__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__navlist {
    display: flex;
}
.hero__navitem a{
    padding: 0 2rem 0 0;
    color: #74bbe8ff;
}

.hero__navitem a:hover{
    color: #0c3e5eff;
}

.hero__navlogo {
    width: 120px;
    height: 120px;
}

.hero__left {
    padding: 0 2rem 0 4rem;
    background-color: #F8FCFF;
}

.hero__title{
    margin: 1rem 0 4rem;
}

.hero__footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 1rem;
    width: 40%;
}

.hero__icons {
    text-align: right;
    font-size: 2rem;
    padding-top: 0.5rem;
}

.hero__icons a {
    color: #74bbe8ff;
}
.hero__icons a:hover {
    color: #0c3e5eff;
}

.pl-1 {
    padding-left: 20px;
}


.hero__right {
    background: url(images/IBDW1160-original.jpeg) center center/cover no-repeat;
}

/* About section */
.about__title, .projects__title {
    font-size: 3rem;
    text-align: center;
    color: #97d1f4ff;
    margin-bottom: 2rem;
}

.about__para {
    margin-bottom: 1rem;
}

/* projects section */
#projects {
    background-color: #F8FCFF;
}

.card__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}


.card__img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    background-color: #fff;
    box-shadow: 2px 2px 5px #c4c4c4;
    border-radius: 10px;
    position: relative;
}

.card__head, .card__content, .card__footer{
    padding: 1rem;
}

.card__head {
    display: flex;
    justify-content: space-between;
}

.card__title {
    font-size: 2rem;
    color:#155b87ff;
}

.btn__category {
    padding: 0.5rem 2rem;
    border-radius: 25px;
}

.htmlcss {   
    color: #fff;
    background-color: crimson;
}

.java_script {
    color: blue;
    background-color: yellow;
}

.bootstrap {
    color: white;
    background-color: purple;
}

.card__footer {
    display: flex; 
    height: 50px;
    position: absolute;
    bottom: 10px;
}

.card__footer--link1 {
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    color: #fff;
    background-color: crimson;
    margin-right: 20px;
    
}

.card__footer--link2 {
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    color: crimson;
    border: 1px solid crimson;
}

/* actualfooter */
#footer {
    background-color: #74bbe8ff;
   }

.footer__block {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.footer__icons {
    font-size: 1.5rem;
}

.footer__icons a {
    color: #fff;
    padding: 0 10px;
}
.footer__icons a:hover {
    color: #0c3e5eff;
}


@media (max-width: 1180px) {
    
    .card__head, .card__content, .card__footer{
        padding: 0.5rem 1rem;
    }

    .normal {
        font-size: 0.8rem;
    }

}

@media (max-width: 1024px) {
    #hero {
        flex-direction: column;
    }
    .hero__section {
        width: 100vw;
    }
    .hero__right {
        background: url(images/smlscreenme.jpeg) center center/cover no-repeat;
        height: 50vh;
    }
   
    .card__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .card__head, .card__content, .card__footer{
        padding: 0.75rem;
    }
       
    .card__title {
        font-size: 1.5rem;
    }
    
    .btn__category {
        padding: 0.5rem 0.5rem;
        border-radius: 25px;
        font-size: 0.75rem;
    }

    .card__footer {
        display: flex; 
        height: 30px;
        position: absolute;
        bottom: 10px;
    }
    
    .card__footer--link1 {
        padding: 0.3rem 1.25rem;
        margin-right: 15px;
        font-size: 0.75rem;
    }
    
    .card__footer--link2 {
        padding: 0.3rem 1.25rem;
        font-size: 0.75rem;
    }

    .normal {
        font-size: 0.7rem;
    }

    .footer__block {
        flex-direction: column;
        text-align: center;
    }

    .footer__icons {
        padding: 1rem 0;
    }
}

@media (max-width: 640px) {
    .hero__navbar {
        flex-direction: column-reverse;
    }

    .card__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card__title {
        font-size: 2rem;
    }

    .btn__category {
        padding: 0.75rem 0.75rem;
        border-radius: 25px;
        font-size: 1rem;
    }

    .normal {
        font-size: 1.2rem;
    }

    .card__footer {
        bottom: 20px;
    }
    
    .card__footer--link1 {
        padding: 0.5rem 1.5rem;
        margin-right: 15px;
        font-size: 0.75rem;
    }
    
    .card__footer--link2 {
        padding: 0.5rem 1.5rem;
        font-size: 0.75rem;
    }
}




/* CSS HEX */
/* --indigo-dye: #0c3e5eff;
--lapis-lazuli: #155b87ff;
--green-blue-crayola: #2d92d1ff;
--aero: #74bbe8ff;
--light-cornflower-blue: #97d1f4ff;
--castleton-green: #0c5e50ff;
--generic-viridian: #158774ff;
--turquoise: #2ed1b5ff;
--turquoise-2: #74e8d4ff;
--middle-blue-green: #97f4e5ff; */
